<div class="row">
  <div class="col-xs-12">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-5 form-group" [ngClass]="{'has-error': itemName.invalid && itemName.touched}">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="itemName" ngModel #itemName="ngModel"required>
          <span class="has-error" *ngIf="itemName.invalid && itemName.touched">Name is required.</span>
        </div>
        <div class="col-xs-2 form-group" [ngClass]="{'has-error': amount.invalid && amount.touched}">
          <label for="amount">Amount</label>
          <input type="number" class="form-control" id="amount" name="amount" ngModel #amount="ngModel" required pattern="^[1-9]+[0-9]*$">
          <span class="has-error" *ngIf="amount.invalid && amount.touched">Enter a valid value.</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="form.invalid || (editMode && !form.dirty)">{{editMode ? 'Save' :' Add'}}</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onReset()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
