<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm root component</h3>
      <hr>
      <app-game-control (counter)="onCounter($event)"></app-game-control>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <app-even *ngFor="let item of even" [rnd]="item"><span>EVEN - {{item}}</span></app-even>
      </div>
      <div class="col-xs-6">
        <app-odd *ngFor="let item of odd" [rnd]="item"><span>ODD - {{item}}</span></app-odd>
      </div>
    </div>
  </div>
</div>
